* {
  margin: 0.2rem;
  @media all and (min-width: 768px) {
    margin: 10px;
    padding: 0px;
  }
}

.header {
  .headerSection {
    display: flex;
    flex-direction: column;
    color: darkgray;
    // margin-top: 20px;
    padding: 0.5rem;
    background-color: black;
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // color: darkgray;
      margin-top: 20px;
      // background-color: black;
    }
  }

  .dateAndTime {
    border: 1px solid darkgray;
    height: fit-content;
    width: fit-content;

    @media all and (min-width: 768px) {
      border: 1px solid darkgray;
      height: fit-content;
    }
  }
  .burguerMenu {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    @media all and (min-width: 768px) {
      justify-content: space-between;
      margin-inline: 1rem;
    }

    .menuList {
      // background-color: lightgray;
      list-style: none;
      border: 5px solid black;
      background-color: rgba(255, 255, 255, 0.9);
      border-style: dashed;
      font-weight: bold;

      @media all and (min-width: 768px) {
        position: fixed;
        border: 5px solid lightgray;
        border-style: dashed;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 999;
        /* Asegura que esté por encima del contenido */
      }
    }
    .no-underline {
      text-decoration: none;
      color: black;
    }
  }
}


.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url(../images/bosque.jpg);
  margin-top: 10px;
  margin-bottom: 100px;
  justify-content: center;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../images/bosque.jpg);
    // margin-top: 10px;
    // margin-bottom: 100px;
  }
  .formDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    .seasonTips {
      color: black;
      border: 5px solid black;
      background-color: white;
      border-style: dashed;
      opacity: 0.8;
      margin: 2rem;
      padding: 1rem;
      font-size: 10px;

      @media all and (min-width: 768px) {
        color: black;
        margin-bottom: 50px;
        font-size: 16px;
        // border: 5px solid black;
        // background-color: white;
        // border-style: dashed;
        opacity: 0.8;
        width: 30vw;
      }
    }
  }

  .intro {
    background-color: wheat;
    padding: 10px;
    margin: 1.5rem;
    border: 5px solid black;
    border-style: dashed;
    opacity: 0.8;
    font-size: 10px;
    // width: 15em;
    @media screen and (min-width: 768px) {
      width: 20rem;
      padding: 30px;
      font-size: 16px;
    }
  }

  .mainSectionForm {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    opacity: 0.8;
    margin-block: 50px;
    padding: 10px;
    gap: 10px;
    @media screen and (min-width: 768px) {
      padding: 0px;
      gap: 0px;
    }
    .plantInput {
      padding: 4px;
    }
    .seasonInput {
      background-color: white;
      color: black;
      padding: 4px;
    }
  }
}

.menuSection {
  background-image: url(../images/wooden-background-1490898564QuQ.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;

  @media screen and (min-width: 768px) {
    margin-block: 100px;
    justify-content: space-between;
    align-items: center;
    // border: 30px solid black;
    padding-inline: 5rem;
    padding-block: 0rem;
    gap: 15px;
  }
  .no-underline2 {
    text-decoration: none;
    color: darkred;
    text-align: center;
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  .aPictures {
    background-color: black;
    border-top: 15px solid wheat;
    border-right: 15px solid wheat;
    border-left: 15px solid wheat;
    border-bottom: 50px solid wheat;
    box-shadow: 10px 10px 10px black;
    background-size: cover;
    padding: 1px;
    height: 65px;
    width: 75px;
    color: wheat;
    font-weight: bolder;
    font-style: oblique;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      margin-block: 100px;
      margin-inline: 20px;
      padding: 15px;
      height: 130px;
      width: 150px;
      border-top: 20px solid wheat;
      border-right: 20px solid wheat;
      border-left: 20px solid wheat;
      border-bottom: 70px solid wheat;
      font-size: 2rem;
    }
  }
}

.infoSpace {
  .sectionButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 20px;
    @media all and (min-width: 768px) {
      // display: flex;
      // justify-content: center;
      margin-block: 50px;
    }
    .btn1,
    .btn3 {
      background-color: white;
      padding: 5px 10px;
      padding: 10px 20px;
      border-radius: 20px;
      width: 300;
      font-weight: bold;
      color: rgb(90, 11, 11);
    }

    .btn2,
    .btn4 {
      background-color: black;
      padding: 5px 10px;
      padding: 10px 20px;
      border-radius: 20px;
      width: 300;
      font-weight: bold;
      color: white;
    }
  }
  .cite {
    border: 1px solid black;

    @media all and (min-width: 768px) {
      margin-inline: 100px;
    }
  }
}
// .usersPictures {
//   // border: 1px solid black;
//   // background-image: url(../images/madroños5.jpg);
//   // background-size: cover;
//   // padding: 20px;
//   // margin-block: 30px;
//   margin-block: 50px;
 
//   color: black;
//   @media all and (min-width: 768px) {   
//     margin-block: 100px;
//   }
//   .usersPicturesHeader {
//     // background-image: url(../images/madroños5.jpg);
//     // background-size: cover;
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;
//     padding: 20px;
//     border: 1px solid black;

//     @media all and (min-width: 768px) {
//       flex-direction: row;
//       justify-content: space-around;
//     }
//     .usersPicText {
//       background-color: antiquewhite;
//       height: fit-content;
//       border: 1px solid black;
//       // border-style: dashed;
//       .spanUploadPic{
//         background: darkred;
//     border-radius: 15px;
//     border: 0;
//     color: white;
//     padding: 3px;
//       }
//       .sendPhotoBtn{
//         background: black;
//     border-radius: 15px;
//     border: 0;
//     color: white;
//     padding: 5px;
//     cursor: pointer;
//       }
//     }
//     .uploadPic {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       border: 5px solid white;
//       border-style: dashed;
//       background-color: black;

//       @media all and (min-width: 768px) {
//         flex-direction: row;
//         align-items: flex-start;
//       }
//     }
//   }
//   .usersPhoto {
//     // background: rgba(0, 0, 0, 0.9); 
//     // background: rgba(255, 255, 255, 0.7);
//     background-color: black;
//     text-align: center;
//     // margin-block: 10px;
//     padding: 10px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     @media all and (min-width: 768px) {
//       text-align: center;
//       // margin: 50px;
//       padding-block: 60px;;
//     }
//     img {
//       margin: 7px;
//       border: 2px solid white;
//       @media all and (min-width: 768px) {
//         margin: 25px;
//         border: 2px solid white;
//       }
//     }
//     .imgUsersPics {
//       width: 100px;
//       @media all and (min-width: 768px) {
//         width: 220px;
//       }
//     }
//   }
// }

.sponsorDiv {
  margin-bottom: 1rem;
  @media all and (min-width: 768px) {
    margin-bottom: 0rem;
  }

  .sponsorSpace {
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
    border-style: dashed solid;
    border-radius: 25px;
    margin-block: 2rem;
    @media all and (min-width: 768px) {
      margin: 50px;
    }
  }
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  // .mybrand {
  //
  // }
}

.forestsDiv {
  background-image: url(../images/trees.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // @media all and (min-width: 768px) {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //  }
  .forestTypesTitle {
    color: wheat;
    text-align: center;
    padding: 50px;
  }
  .forestsTypes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    // list-style: none;
    @media all and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  .forestLink {
    border: 1px solid white;
    width: 8rem;
    background-color: wheat;
    padding: 3px;
    margin-block: 0.5rem;
    font-size: 10px;
    @media all and (min-width: 768px) {
      width: 50rem;
      margin: 20px;
      padding: 20px;
      width: 16rem;
      padding: 10px;
      margin-block: 1rem;
      font-size: 16px;
    }
  }
  .forestText {
    color: wheat;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    @media all and (min-width: 768px) {
      padding: 50px;
      font-size: 16px;
    }
  }
}

.inProcess {
  color: rgb(82, 9, 9);
  background-color: gray;
  opacity: 0.6;
  width: fit-content;
}
.forest1 {
  background-image: url(../images/castaño.jpg);
  background-size: cover;
  padding: 2em;
  height: 40vh;
  @media all and (min-width: 768px) {
    padding: 4rem;
  }
  .chestnutTitle {
    background-color: white;
    display: inline;
    text-align: center;
    font-size: 14px;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }
  .chestnutDescription {
    background-color: white;
    border: 2px solid black;
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    font-size: 10px;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.forest2 {
  background-image: url(../images/hayedo4.png);
  background-size: cover;
  height: 40vh;
  padding: 2rem;

  .leafyTitle {
    background-color: white;
    text-align: center;
    display: inline;
    font-size: 14px;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }
}
.forest3 {
  background-image: url(../images/niceForest.png);
  background-size: cover;
  height: 50vh;
  padding-top: 1rem;

  .riverTitle {
    background-color: white;
    margin: 1rem;
    display: inline;
    font-size: 14px;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }
}
.forest4 {
  background-image: url(../images/dehesa4.png);
  background-size: cover;
  padding: 1em;
  height: 40vh;
  @media all and (min-width: 768px) {
    padding: 4rem;
  }
  .piornoTitle {
    background-color: white;
    text-align: center;
    display: inline;
    font-size: 14px;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }
  .piornoDescription {
    background-color: white;
    border: 2px solid black;
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    font-size: 10px;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
.forest5 {
  background-image: url(../images/dehesa2.png);
  background-size: cover;
  text-align: end;
  height: 40vh;
  padding: 2rem;
  .holmTitle {
    background-color: white;
    display: inline;
    font-size: 14px;
    border: 2px solid black;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }
}

@media all and (min-width: 768px) {
}
.faunaSection {
  background-image: url(../images/aves/birdsBack.jpg);

  padding-block: 10px;
  padding-inline: 10px;
  @media all and (min-width: 768px) {
    background-size: cover;
    padding-block: 50px;
    padding-inline: 100px;
  }

  .faunaTitle {
    text-align: center;
  }
  .faunaExplanation {
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 10px;
    width: fit-content;
  }
  .faunaTableTitle {
    background-color: black;
    color: white;
    padding-inline: 20px;
    padding-block: 5px;
    margin-top: 20px;
    opacity: 0.8;
    cursor: pointer;
  }
  .tableFauna {
    font-weight: bold;
    background-color: gray;
    opacity: 0.8;
    color: black;
    margin-bottom: 50px;
    font-size: 6px;
    @media all and (min-width: 768px) {
      font-weight: bold;
      background-color: gray;
      opacity: 0.8;
      color: black;
      margin-bottom: 50px;
      font-size: 14px;
    }
  }
}
.usersDiv {
  // background-image: url(../images/PenaF.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  padding: 50px;
  font-size: 14px;
  @media all and (min-width: 768px) {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: fit-content;
  }
  .usersText {
    @media all and (min-width: 768px) {
      width: 200px;
    }
  }
  .usersImg {
    width: 75%;
    @media all and (min-width: 768px) {
      width: 200px;
    }
  }
}

.cardSection {
  background-image: url(../images/tronco2.png);
  background-size: contain;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 20px;
  gap: 15px;
  @media all and (min-width: 768px) {
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 50px;
  }
  .cardForm {
    background-color: silver;
    display: flex;
    flex-direction: column;
  }
}
.backToMain {
  color: black;
  text-decoration: none;
}

.arrowDiv {
  text-align: center;
  .arrow {
    color: black;
  }
}
.hidden {
  display: none;
}
