* {
  margin: 0.2rem;
  @media all and (min-width: 768px) {
    margin: 10px;
    padding: 0px;
  }
}

.menuSection {
  background-image: url(../images/wooden-background-1490898564QuQ.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  // gap: 15px;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;

  @media screen and (min-width: 768px) {
    margin-block: 100px;
    justify-content: space-around;
    align-items: center;
    // border: 30px solid black;
    padding-inline: 5rem;
    padding-block: 0rem;
    // gap: 15px;
  }
  .no-underline2 {
    text-decoration: none;
    color: darkred;
    text-align: center;
    font-size: 12px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  .aPictures {
    background-color: black;
    border-top: 8px solid wheat;
    border-right: 8px solid wheat;
    border-left: 8px solid wheat;
    border-bottom: 40px solid wheat;
    box-shadow: 10px 10px 10px black;
    background-size: cover;
    padding: 10px;
    height: 3rem;
    width: 3rem;
    color: wheat;
    font-weight: bolder;
    font-style: oblique;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      margin-block: 100px;
      margin-inline: 20px;
      padding: 15px;
      height: 130px;
      width: 150px;
      border-top: 20px solid wheat;
      border-right: 20px solid wheat;
      border-left: 20px solid wheat;
      border-bottom: 70px solid wheat;
      font-size: 2rem;
    }
  }
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  font-size: 12px; 
  justify-content: space-around;
 
  @media all and (min-width: 768px) {    
    justify-content: flex-end;
    font-size: 14px;
  }
  .icons {
    color: white;
     padding: 0px;
  margin: 1px;
  }
}

// @media all and (min-width: 768px) {
// }

.usersDiv {
  // background-image: url(../images/PenaF.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  padding: 50px;
  font-size: 14px;
  @media all and (min-width: 768px) {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: fit-content;
  }
  .usersText {
    @media all and (min-width: 768px) {
      width: 200px;
    }
  }
  .usersImg {
    width: 75%;
    @media all and (min-width: 768px) {
      width: 200px;
    }
  }
}

.backToMain {
  color: black;
  text-decoration: none;
}

.arrowDiv {
  text-align: center;
  .arrow {
    color: black;
  }
}
.hidden {
  display: none;
}
