.cardBox {
  background-image: url(../images/bark.jpg);
  background-size: contain;
  padding: 1rem;
  .cardIntro{
    background-color: white;
    text-align: center;
    margin: 2rem;
    padding: 5px;
  }
  .cardSection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: 20px;
    gap: 15px;
    @media all and (min-width: 768px) {
      background-size: cover;
      flex-direction: row;
      justify-content: space-around;
      padding-block: 50px;
    }
    .cardForm {
      background-color: silver;
      display: flex;
      flex-direction: column;
    }
    .cardBottom {
    //   width: 400px;
      height: 500px;
      border: 5px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media all and (min-width: 768px) {
        width: 400px;
      }
      .cardFinalText {
        background-color: white;
        margin: 10px;
      }
    }
    .fondo1 {
      background-image: url(../images/fondocards/5.jpg);
      background-size: cover;
      
    }

    .fondo2 {
      background-image: url(../images/fondocards/PenaF.jpg);
    }
    .fondo3 {
      background-image: url(../images/fondocards/madroños5.jpg);
    }

    .fondo4 {
      background-image: url(../images/fondocards/3.jpg);
      background-size: cover;
    }
    .fondo5 {
      background-image: url(../images/fondocards/puente2.jpg);
      background-size: cover;
    }
    .fondo6 {
      background-image: url(../images/fondocards/caminoAgua2.png);
      background-size: cover;
    }
  }
  .cardBtns {
    display: flex;

    .createCard {
      background-color: black;
      width: fit-content;
      margin: auto;
    }
    .singleBtn {
      cursor: pointer;
      padding: 5px;
    }
    .downloadImage {
      a {
        text-decoration: none;
        color: red;
      }
    }
  }
}
