.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url(../images/bosque.jpg);
    margin-top: 10px;
    margin-bottom: 100px;
    justify-content: center;
  
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-image: url(../images/bosque.jpg);
      // margin-top: 10px;
      // margin-bottom: 100px;
    }
    .formDisplay {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media all and (min-width: 768px) {
        display: flex;
        align-items: center;
      }
      .seasonTips {
        color: black;
        border: 5px solid black;
        background-color: white;
        border-style: dashed;
        opacity: 0.8;
        margin: 2rem;
        padding: 1rem;
        font-size: 10px;
  
        @media all and (min-width: 768px) {
          color: black;
          margin-bottom: 50px;
          font-size: 16px;
          // border: 5px solid black;
          // background-color: white;
          // border-style: dashed;
          opacity: 0.8;
          width: 30vw;
        }
      }
    }
  
    .intro {
      background-color: wheat;
      padding: 10px;
      margin: 1.5rem;
      border: 5px solid black;
      border-style: dashed;
      opacity: 0.8;
      font-size: 10px;
      // width: 15em;
      @media screen and (min-width: 768px) {
        width: 20rem;
        padding: 30px;
        font-size: 16px;
      }
    }
  
    .mainSectionForm {
      display: flex;
      flex-direction: column;
      background-color: black;
      color: white;
      opacity: 0.8;
      margin-block: 50px;
      padding: 10px;
      gap: 10px;
      @media screen and (min-width: 768px) {
        padding: 0px;
        gap: 0px;
      }
      .plantInput {
        padding: 4px;
      }
      .seasonInput {
        background-color: white;
        color: black;
        padding: 4px;
      }
    }
  }