.infoSpace {
  .sectionButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 20px;

    @media all and (min-width: 768px) {
      margin-block: 50px;
    }
    .btn1 {
      background-color: black;
      color: white;
      padding: 5px 10px;
      // padding: 10px 20px;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
      width: 300;
      font-weight: bold;
      font-size: 10px;
      cursor: pointer;
     
      @media all and (min-width: 768px) {
        font-size: 16px;
        background-color: white;
        color: rgb(90, 11, 11);
      }
    }
    .btn1:hover {
      background-color: rgb(90, 11, 11);
      color: black;
      @media all and (min-width: 768px) {
        background-color: black;
        color: darkgreen;
      }
    }

    .btn2 {
      background-color: white;
      color: rgb(90, 11, 11);
      padding: 5px 10px;
      // padding: 10px 20px;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
      width: 300;
      font-weight: bold;
      font-size: 10px;
      cursor: pointer;
      @media all and (min-width: 768px) {
        font-size: 16px;
        background-color: black;
        color: white;
      }
    }
    .btn2:hover:hover {
      background-color: black;
      color: darkgreen;
      @media all and (min-width: 768px) {
           background-color: rgb(90, 11, 11);
      color: black;
      }

   
    }
  }
  .cite {
    // border: 1px solid black;
    font-size: 12px;
    @media all and (min-width: 768px) {
      font-size: 16px;
      margin-inline: 100px;
    }
  }
  .crow {
    text-align: center;
  }
}
