.sponsorDiv {
    margin: 1rem;    
    @media all and (min-width: 768px) {
      margin: 2rem;
    }
  
    .sponsorSpace {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
      border: 5px solid black;
      border-style: dashed solid;
      border-radius: 25px;
      margin-block: 2rem;      
      width: fit-content;    
      padding: 10px;
      font-size: 12px;      
      
      @media all and (min-width: 768px) {
        margin: auto;
        text-align: center;  
        font-size: 16px;      
      }
      
    }
  }