.usersPictures {
  margin-block: 5px;
  color: black;
  @media all and (min-width: 768px) {
    margin-block: 10px;
  }
  .usersForestPic {
    img {
      width: 90vw;
      margin: auto;
    }
  }
  .usersPicturesHeader {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    align-items: center;
    // border: 1px solid black;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }
    .usersPicText {
      background-color: rgba(128, 128, 128, 0.5);
      height: fit-content;
      // border: 1px solid black;
      font-size: 12px;
      padding: 3px;
      @media all and (min-width: 768px) {
        font-size: 16px;
        padding: 0px;
      }
     
      .sendPhotoBtn {
        background: black;
        border-radius: 15px;
        border: 0;
        color: white;
        padding: 5px;
        cursor: pointer;
        font-size: 12px;
        @media all and (min-width: 768px) {
          font-size: 14px;
        }
      }
    }
    .uploadPic {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 5px solid white;
      border-style: dashed;
      background-color: black;
      padding: 5px;

      @media all and (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  }
  .usersPhoto {
    // background: rgba(0, 0, 0, 0.9);
    // background: rgba(255, 255, 255, 0.7);
    background-color: black;
    text-align: center;
    border-radius: 1em;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    @media all and (min-width: 768px) {
      text-align: center;   
      padding-block: 60px;
      gap: 0px;
    }
  
    
    .imgUsersPics {
      width: 100px;
      height: fit-content;
      margin: 7px;
      border: 2px solid white;
      @media all and (min-width: 768px) {
        width: 220px;
         margin: 25px;
        border: 2px solid white;
      }
    }
  }
}
