.profile {
  .profile__avatar {
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
